\p {
  color: black;
  padding-top: 100px;
}

.App {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;

  height: 100%;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.title {
  padding: 10px;
}

.button-label {
  font-size: 1em;
}

.Banner {
  background-color: white;
  color: black;
  height: 6vh;
  padding: 50px;
  font-size: 4vmin;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  vertical-align: middle;
}

.Foot {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 24px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.flex-item {
  flex: 1;
}

.input-field {
  font-family: 'Comfortaa';

  color: black;
  background-color: white;

  outline: none;
  border: 0.5px solid black;
  border-radius: 2px;
  height: 20px;
}
